<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuelan.apartment.mapper.TenantMapper">

    <resultMap id="BaseResultMap" type="com.yuelan.apartment.domain.TenantInfo" >
        <result column="id" property="id" />
        <result column="apartment_id" property="apartment_id" />
        <result column="room_id" property="room_id"/>
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="id_number" property="id_number" />
        <result column="create_time" property="create_time" />
        <result column="end_time" property="end_time" />
    </resultMap>

    <sql id="Column_List">
        select id, apartment_id, room_id, name, phone, id_number, create_time ,end_time
        from apa_tenant_info
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.yuelan.apartment.domain.TenantInfo">
        insert into apa_tenant_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != apartment_id ">
                apartment_id,
            </if>
            <if test="null != room_id ">
                room_id,
            </if>
            <if test="null != name and '' != name">
                name,
            </if>
            <if test="null != phone ">
                phone,
            </if>
            <if test="null != id_number and '' != id_number">
                id_number,
            </if>
            <if test="null != create_time ">
                create_time,
            </if>
            <if test="null != end_time ">
                end_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != apartment_id ">
                #{apartment_id},
            </if>
            <if test="null != room_id ">
                #{room_id},
            </if>
            <if test="null != name and '' != name">
                #{name},
            </if>
            <if test="null != phone ">
                #{phone},
            </if>
            <if test="null != id_number and '' != id_number">
                #{id_number},
            </if>
            <if test="null != create_time ">
                #{create_time},
            </if>
            <if test="null != end_time ">
                #{end_time}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.yuelan.apartment.domain.TenantInfo">
        update apa_tenant_info
        <set>
            <if test="null != apartment_id ">apartment_id = #{apartment_id},</if>
            <if test="null != room_id ">room_id = #{room_id}</if>
            <if test="null != name and '' != name">name = #{name},</if>
            <if test="null != phone ">phone = #{phone},</if>
            <if test="null != id_number and '' != id_number">id_number = #{id_number},</if>
            <if test="null != create_time ">create_time = #{create_time},</if>
            <if test="null != end_time ">end_time = #{end_time}</if>
        </set>
        where id = #{id}
    </update>

    <select id="load" resultMap="BaseResultMap">
        <include refid="Column_List" />
        where id = #{id}
    </select>

    <select id="tenantInfoList" parameterType="com.yuelan.apartment.domain.TenantInfo" resultMap="BaseResultMap">
        <include refid="Column_List"/>
        <where>
            <if test="apartment_id != null "> and apartment_id = #{apartment_id}</if>
            <if test="room_id != null "> and room_id = #{room_id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="id_number != null  and id_number != ''"> and id_number = #{id_number}</if>
            <if test="end_time != null "> and end_time = #{end_time}</if>
        </where>
    </select>

    <delete id="delete" >
        delete from apa_tenant_info where id = #{id}
    </delete>

    <delete id="deleteTenantByIds" parameterType="String">
        delete from apa_tenant_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>